.sidebarContainer{
    /* display: flex;
    margin: 20px auto; */
    display: grid;
    grid-template-columns: 1fr 8fr;
    column-gap: 10px;
}
 .sidebarnav{
    padding: 0 1rem;
    height: 100vh;
    /* width: 10em; */
    position: fixed;
    background-color: #070830;
    color: #fff;
    z-index: 2;
    text-align: center;
 }
 .sidebarnav h3{
     margin: 30px 0;
     /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
     /* box-shadow: inset 0px -2px 20px 0px rgb(8 32 112); */
    /* padding: 5px 0; */    
        /* background: #121685; */
        font-size: 2rem;
        text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
         0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3),
          0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25),
         0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);     
 }
.link{
    display: block;
    margin: 1rem 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    border-bottom: 1px solid #333;
}
.sidebarContainer .active{
    background-color: #fff;
    color: #000;
}