.articleSection{
    width: 80vw;
    margin: 20px;
}
.articleSection > h3{
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 30px 0;
    text-transform: capitalize;
    text-align: center;
}
.article{
    margin: 0 20px ;
}
.article h2{
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    padding: 10px 5px;
    margin: 10px 0;
    color: #1e24da;
}
.navlink a{
   text-decoration: none;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.articleContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px 0;
}
.artDescription{
    width: 40rem;
    padding : 10px;
    text-align: left;
    word-spacing: 3px;
    line-height: 1.1;
    font-size: 1.2rem;
    color: #000;
}
.articlImg{
        width: 400px;
        height: 400px;
        margin-right: 25px;
        box-shadow: 0 0 5em #1b21c471(22, 23%, 40%)
}
.articlImg:hover{
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.articlImg img{
    width: 100%;
    height: 100%;
}
hr{
    margin: 20px 0;
}